<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Black List</title>
    <link rel="stylesheet" href="/css/index.css">
    <script src="/js/index/randomPlaceholder.js"></script>
</head>
<body>
    <!-- header -->
    <header>
        <button id="btnHamburger"></button>
        <h1 class="header-logo">Black List</h1>
        <ul class="header-nav-area">
            <li>
                <a href="/statistics">통계</a>
            </li>
            <li>
                <a href="/ranking">랭킹</a>
            </li>
            <li>
                <a href="/characters">캐릭터</a>
            </li>
            <li>
                <a href="/routes">루트</a>
            </li>
            <li>
                <a href="/encyclopedia">도감</a>
            </li>
            <li>
                <a href="/creatures">동물</a>
            </li>
            <li>
                <a href="/maps">맵</a>
            </li>
        </ul>
        <div class="header-profile-area">
            <a href="/signin">
                <button id="btnSignIn">로그인</button>
            </a>
        </div>
    </header>

    <!-- main -->
    <main role="main">
        <div id="wrap">
            <div id="searchbar">
                <input type="text" id="inputSearchbar" placeholder="절망의 끝까지 도달한 폰에게 모든 영광을">
                <!-- <button id="btnImageSearch"></button> -->
                <button id="btnSearch"></button>
            </div>
        </div>
    </main>

    <!-- footer -->
    <footer>
        <div>
            <ul class="footer-nav-area">
                <li>
                    <a href="/about">About</a>
                </li>
                <li>
                    <a href="/help">도움말</a>
                </li>
                <li>
                    <a href="/privacy">개인정보처리방침</a>
                </li>
                <li>
                    <a href="/contact">문의</a>
                </li>
                <li>
                    <a href="mailto:jinlee9304@gmail.com">jinlee9304@gmail.com</a>
                </li>
                <li>
                    <a href="https://www.instagram.com/honyanglover/" target="_blank">
                        <button id="btnInstagram"></button>
                    </a>
                </li>
            </ul>
            <div>
                <p>COPYRIGHT 2021.BLACK LIST.ALL RIGHTS RESERVED.</p>
            </div>
        </div>
    </footer>
</body>
</html>