@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap");
* {
  box-sizing: border-box;
  color: #505050;
  font-family: 'Noto Sans KR', sans-serif;
}

html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
}

main {
  height: 0px;
  flex: 1 1 0px;
}

footer {
  flex: none;
}

ul,
p {
  margin: 0;
}

ul {
  padding-left: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

input,
textarea,
select,
button {
  outline: none;
}

button {
  cursor: pointer;
}

header {
  height: 60px;
  display: flex;
  flex-direction: row;
  padding: 10px 40px;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  background-color: #1d2730;
}

header > * {
  flex: none;
}

header h1 {
  height: 40px;
  margin: 0;
  line-height: 40px;
  color: white;
  user-select: none;
}

main {
  padding-top: 60px;
}

body:not(.mobile) header > *:not(h1) {
  padding-left: 32px;
}

body:not(.mobile) #btnHamburger {
  display: none;
}

body.mobile .header-nav-area {
  display: none;
}

.header-nav-area {
  height: 40px;
  display: flex;
  flex-direction: row;
  margin: 0;
}

.header-nav-area li:not(:first-child) {
  margin-left: 16px;
}

.header-nav-area li a {
  height: 40px;
  font-size: 16px;
  line-height: 40px;
  user-select: none;
  transition: color 0.2s;
}

.header-nav-area li a:not(.active):not(:hover):not(:active) {
  color: #acacac;
}

.header-nav-area li a.active, .header-nav-area li a:hover, .header-nav-area li a:active {
  color: white;
}

.header-profile-area {
  display: flex;
  flex-direction: row;
  margin-left: auto;
}

#btnSignIn {
  height: 32px;
  margin-top: auto;
  margin-bottom: auto;
  padding: 0 16px;
  border-radius: 16px;
  border: none;
  background-color: white;
  font-size: 16px;
  transition: filter 0.2s, transform 0.2s;
}

#btnSignIn:hover,
#btnSignIn:active {
  filter: brightness(0.8);
}

#btnSignIn:active {
  transform: scale(0.95);
}

#wrap {
  width: 100%;
  max-width: 900px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 200px 40px;
}

#searchbar {
  width: 100%;
  max-width: 600px;
  height: 62px;
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  padding: 15px 30px;
  border-radius: 31px;
  border: 1px solid #d3d3d3;
}

#searchbar.focused {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
}

#searchbar input {
  width: 0px;
  flex: 1 1 0px;
  padding: 0;
  border: none;
  font-size: 18px;
}

#searchbar input::placeholder {
  opacity: 0.5;
}

#searchbar button {
  width: 30px;
  flex: none;
  margin-left: 8px;
  padding: 0;
  border-radius: 15px;
  border: none;
  background: gray;
}
