

* {
    box-sizing: border-box;
    color: $font-color-default;
    font-family: 'Noto Sans KR', sans-serif;
}

html,
body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
}

main {
    height: 0px;
    flex: 1 1 0px;
}

footer {
    flex: none;
}

ul,
p {
    margin: 0;
}

ul {
    padding-left: 0;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

input,
textarea,
select,
button {
    outline: none;
}

button {
    cursor: pointer;
}

